* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0px;
  padding: 0px;
}

.App {
  display: flex;
  font-family: sans-serif;
  background: #0c0e38;
  color: #9beffd;
  height: 100vh;
  width: 100vw;
  
}

.react-tabs {
  display: flex;
  width: 350px;
  height: 100vh;
  color: #9beffd;
  background: #151448;
  float: left;
}

.react-tabs__tab-list {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin: 0;
  padding: 0;
  color: #9beffd;
  background: #0d0d32;
}

.react-tabs__tab {
  height: 88px;
  list-style: none;
  cursor: pointer;
  color: #bbb;
}

.react-tabs__tab:hover {
  background-color: #0a8cc9;
}

.react-tabs__tab--selected {
  background: #151448;
  border-color: #1c1d1f;
  border-left: 4px solid #00e6f7;
  color: white;
}

.react-tabs__tab-panel {
  display: none;
  width: 250px;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.react-tabs__tab {
  padding-left: 24px;
}

.react-tabs__tab--selected {
  padding-left: 21px;
}

.panel-content {
  margin-top: 7px;
}

.panel-title {
  text-align: center;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs {
  font-size: 14px;
  width: 350px;
  min-width: 250px;
  padding: 20px;
  background: var(--first-color);
  color: white;
}

.inputs form {
  margin: 30px 0;
}

input {
  margin: 5px;
  color: #006064;
}

input[type="range"] {
  outline: none;
  background: rgb(145, 17, 17);
  color: red;
}

input[type="range"]:hover {
  cursor: pointer;
}

input[type="number"] {
  font-size: 1.4rem;
  width: 60px;
  margin: 0 10px;
  border: 0;
  text-align: right;
  background: 0;
  color: #b0bec5;
}

button:hover {
  cursor: pointer;
}

.icons {
  width: 75%;
  height: 80%;
  fill: #9beffd;
  margin-top: 10px;
}
